body {
    font-family: sans-serif;
    background: #0f0c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.left{
    background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}
.right{
    background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}